.block.content-fragment-loader {
  padding: 1rem 0;
  margin: 1rem 0;
}

.block.content-fragment-loader-placeholder {
  background: #f5f5f5;
  padding: 1rem;
  border-left: 4px solid #1473e6;
}

.block.content-fragment-loader .content-fragment-loader-rendered {
  padding: 0.5rem 0;
}

.block.content-fragment-loader .content-fragment-loader-error {
  color: #c00;
  padding: 0.5rem 0;
}

/* Section template: page heading, disclaimer, CTA */
.block.content-fragment-loader .content-fragment-loader-section {
  /* wrapper for section template */
}

.block.content-fragment-loader .content-fragment-loader-heading {
  /* page heading (h1) */
}

.block.content-fragment-loader .content-fragment-loader-disclaimer-section {
  /* section containing disclaimer + CTA */
}

.block.content-fragment-loader .content-fragment-loader-disclaimer {
  /* disclaimer text */
}

.block.content-fragment-loader .content-fragment-loader-cta {
  /* CTA container */
}

.block.content-fragment-loader .content-fragment-loader-cta-link {
  /* CTA link (when ctaUrl is set) */
}
